/* for website background image */

body {
  font-family: Arial, sans-serif;
  background-image: url("images/hotelspage.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
  padding: 0;
}

/*for hotels */

header {
  text-align: center;
  margin-top: 20px;
}

.hotel-container {
  text-align: center;
  margin-top: 40px;
}

.hotels-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
  gap: 25px;
}

.hotel-card {
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 3px 8px rgba(0,0,0,0.1);
  padding: 15px;
  width: 250px;
  transition: 0.3s;
}

.hotel-card:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 12px rgba(0,0,0,0.2);
}

.hotel-card img {
  width: 100%;
  height: 160px;
  border-radius: 10px;
  object-fit: cover;
}

.hotel-card h3 {
  margin: 10px 0 5px;
  color: #0077cc;
}

.hotel-link {
  display: inline-block;
  margin-top: 10px;
  padding: 6px 10px;
  background: #0077cc;
  color: white;
  border-radius: 6px;
  text-decoration: none;
  font-size: 14px;
}

.hotel-link:hover {
  background: #005fa3;
}

select {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid white;
  padding: 8px;
  border-radius: 5px;
}

select option[disabled][selected] {
  color: white;
}

label {
  color: white;     
  font-weight: bold;  
  margin-right: 8px;  
}


